# ================================
# SERVER CONFIGURATION
# ================================

PORT=3000
NODE_ENV=development
CORS_ORIGINS=http://localhost:3000,http://localhost:5173 # Agrega aquí los orígenes permitidos para CORS, separados por comas

# ================================
# SENDGRID CONFIGURATION
# ================================

SENDGRID_API_KEY_SERVICE1=apikey
SENDGRID_FROM_EMAIL_SERVICE1=remitente@empresa.com

SENDGRID_API_KEY_SERVICE2=apikey
SENDGRID_FROM_EMAIL_SERVICE2=remitente@empresa.com


# ================================
# NODEMAILER CONFIGURATION
# ================================

# CASO 1: SMTP Genérico (cualquier proveedor SMTP)
# Útil para: Office365, Outlook, SMTP propio, cualquier servidor SMTP
# ------------------------------------------------------------
SMTP_HOST_SERVICE3=smtp.office365.com
SMTP_PORT_SERVICE3=587
SMTP_USER_SERVICE3=usuario@empresa.com
SMTP_PASS_SERVICE3=tu_contraseña_smtp
SMTP_FROM_SERVICE3=remitente@empresa.com

# SMTP_HOST_SERVICE4=smtp.tuempresa.com
# SMTP_PORT_SERVICE4=465
# SMTP_USER_SERVICE4=no-reply@tuempresa.com
# SMTP_PASS_SERVICE4=tu_contraseña_smtp
# SMTP_FROM_SERVICE4=no-reply@tuempresa.com


# CASO 2: Gmail (usando 'service' en lugar de host/port)
# ------------------------------------------------------------
GMAIL_USER_SERVICE4=tu-email@gmail.com
GMAIL_APP_PASSWORD_SERVICE4=password  # Contraseña de 16 dígitos sin espacios
GMAIL_FROM_SERVICE4=tu-email@gmail.com